<div class="background">
  <div class="main">
        <div class="left">
            <ul>
                <li><a [routerLink]="['/home']" class="home" routerLinkActive="active">Home</a></li>
                <li><a [routerLink]="['/about']" class="home" routerLinkActive="active">About</a></li>
                <li><a [routerLink]="['/contactus']" class="home" routerLinkActive="active">Contact Us</a></li>
                <li><a [routerLink]="['/service']" class="home" routerLinkActive="active">service</a></li>
            </ul>
        </div>
  
        <div class="center">
            <p>Copyright Reserved <span>&#169;</span> 2022</p>
        </div>
    </div>
</div>
