<div class="background-1">
    <div class="side-content">

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quos eaque perferendis error maxime quo, molestias dolore corrupti voluptate minima necessitatibus officia quibusdam nemo eum, reiciendis non laboriosam velit fuga?
    </div>
    <div>
        <img class="photo" src = "././assets/images/2.jpg">
    </div>
</div>

<div class="background-1">
    <div>
        <img class="photo" src="././assets/images/3.jpg">
    </div>
    <div class="side-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam pariatur placeat ratione doloribus, distinctio obcaecati minus architecto asperiores voluptatum nulla recusandae fugit perferendis fugiat dignissimos tenetur blanditiis praesentium impedit aliquam?
    </div>

</div>
